<!doctype html>
<html>
    <head>
        {% if charset %}
        <meta charset="{{ charset }}">
        {% endif %}

        {% for title in titles %}
        <title>{{ title }}</title>
        {% endfor %}

        {% for href in canonical_in_head %}
        <link rel="canonical" href="{{ href }}">
        {% endfor %}

        {% if og_url %}
        <meta property="og:url" content="{{ og_url }}">
        {% endif %}

        {% if refresh %}
        <meta http-equiv="refresh" content="{{ refresh }}">
        {% endif %}

        {% for content in meta_robots %}
        <meta name="robots" content="{{ content }}">
        {% endfor %}

        {% if raw_head %}
        {{ raw_head }}
        {% endif %}
    </head>

    <body>
        {% for h in h1 %}
        <h1>{{ h }}</h1>
        {% endfor %}

        {{ body }}

        {% for href in canonical_in_body %}
        <link rel="canonical" href="{{ href }}">
        {% endfor %}

        {% if deferred_script %}
        <div id="js-content"></div>
        <script>
        {{ deferred_script }}
        </script>
        {% endif %}

        {% if raw_body %}
        {{ raw_body }}
        {% endif %}
    </body>
</html>
